<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
	
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/signin.css"> 
    

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" type="text/css" href="/css/base.css">
   <link rel="stylesheet" type="text/css" href="/css/vendor.css"> 
   <link rel="stylesheet" type="text/css" href="/css/main.css">  
   <link rel="stylesheet" type="text/css" href="/css/problem_add.css">

   <!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>
	<script src="/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
	<link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title><%= data.qID %>-<%= data.name %> | CodeNext</title>
</head>

<body id="wrap">
    
    <header> 

        <div class="header-logo">
           <a href="/">CodeNext</a>
        </div> 
        
         <a id="header-menu-trigger" href="#0">
              <span class="header-menu-text">Menu</span>
               <span class="header-menu-icon"></span>
         </a> 
 
         <nav id="menu-nav-wrap">
 
             <a href="#0" class="close-button" title="close"><span>Close</span></a>	
 
            <h3>CodeNext</h3>  
 
             <ul class="nav-list">
                 <li class="current"><a href="/" title="">Home</a></li>
                 <li><a  href="/problems/all" title="">Practice</a></li>
                 <li><a href="/contests" title="">Contests</a></li>
                 <li><a  href="/rankings" title="">Rankings</a></li>
                 <li><a href="/quiz" title="">Quiz</a></li>
                 <li><a  href="/ide" title="">IDE</a></li>

                 <% if (locals.user && locals.user.isAdmin === true) { 
                    %>	 <li><a  href="/admin"" title="">Admin</a></li>	<% } %>
                 
                 <% if (locals.user) { %>
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/user/logout">Sign Out</a></li>

                    <% } else { %>

                    <li><a data-toggle="modal" data-target="#loginModal">Sign In</a></li>
                    <li><a data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                    <% } %>
                 
             </ul>				
 
             <ul class="header-social-list">
              <li>
                  <a href="#"><i class="fa fa-facebook-square" id = "nav-icon"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-twitter" id = "nav-icon"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-instagram" id = "nav-icon"></i></a>
              </li>
             <li>
                 <a href="#"><i class="fa fa-behance" id = "nav-icon"></i></a>
             </li>
              <li>
                  <a href="#"><i class="fa fa-dribbble" id = "nav-icon"></i></a>
              </li>	         
           </ul>		
 
         </nav>  <!-- end #menu-nav-wrap -->
 
     </header> <!-- end header -->  



    <div class="grid-content content" id="wrap">
        <div class="box" id="t-wrap">
            <div class="title" id="prob-head">
                <%= data.qID %>. <%= data.name %>
            </div>
            <div class="sub-title" id="limits">
                Time Limit: <%= data.timeLimit %> seconds<br>
                Memory Limit: <%= data.memoryLimit %> KB<br>
                Problem Setter: <%= data.problemSetter %><br>
                Difficulty: <%= data.difficulty %> / 5<br>
                Tags: <%= data.tags %><br>
               <a style = "text-decoration: none; color:aliceblue" href=<%= data.editorial %>>Editorial</a>  
            </div>
            <hr>
            <div class="problem-body" id="problem-body">
                <%= data.description %><br>
                <h2 id="prob-subhead">Input</h2>
                <pre id="prob-disp-inp"><%= data.inputFormat %></pre>
                <h2 id="prob-subhead">Output</h2>
                <pre id="prob-disp-inp"><%= data.outputFormat %></pre>
                <h2 id="prob-subhead">Constraints</h2>
                <pre id="prob-disp-inp"><%= data.constraints %></pre> 
                <h2 id="prob-subhead">Sample Input<span><button id="ctc" class="border border-dark ml-4 p-2 btn btn-light btn-sm" onclick="copyToClipboard(sampleInputCopy)"><b>Copy text to clipboard</b></button></span></h2>
                <pre id = "sampleInputCopy"><%= data.sampleInput %></pre>
                <h2 id="prob-subhead">Sample Output<span><button id="ctc" class="border border-dark ml-4 p-2 btn btn-light btn-sm" onclick="copyToClipboard(sampleOutputCopy)"><b>Copy text to clipboard</b></h2>
                <pre id = "sampleOutputCopy"><%= data.sampleOutput %></pre>
                <h2 id="prob-subhead">Explanation</h2>
                <pre id="prob-disp-inp" ><%= data.explanation %></pre>
            </div>
            <form method="POST" action="" id="sub-btn-wrap">
                <input id="prob-sub-btn" type="submit" value="Submit" class="button is-link">
            </form>
        </div>
    </div>


    <div id="preloader"> 
        <div id="loader"></div>
    </div> 

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="signup-content" >
            <div class="modal-header" id="btn-wrap">
                <button type="button" id="sign-up-btn" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/user/login" method="post" class="form-signin" id="loginform">
                <img class="mb-4" src="/photos/avattar.jpg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
                <label for="username" class="sr-only">Username</label>
                    <input type="text" name="username" id="inputEmailSignIn" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPasswordSignIn" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPasswordSignIn" class="form-control" placeholder="Password" required>
                <input id="sign-btn" type="submit" name="" class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
                <p class="mt-5 mb-3 text-muted">Don't have an Account? <a class="close-modal" data-toggle="modal" href="#signupModal"> Sign Up Now!</a></p>
                <label id="errormsg" class="errmsg"></label>
            </form>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="signup-content">
            <div class="modal-header" id="btn-wrap">
                <button type="button" id="sign-up-btn" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div id="sign-up">
            <form action="/user/signup" method="post" class="form-signin" id ="signupform">
                <img class="mb-3"  src="/photos/avattar.jpg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                <label for="name" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmailSignUp" class="form-control" placeholder="Email" required autofocus>
                <label for="inputPasswordSignUp" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPasswordSignUp" class="form-control" placeholder="Password" required>
                <label for="inputPasswordSignUp" class="sr-only">Confirm Password</label>
                <input type="password" name="password2" id="inputPasswordSignUp2" class="form-control" placeholder="Confirm Password" required>
                <input type="submit" id="sign-btn" name="" class=" btn btn-lg btn-primary btn-block" type="submit" value="Sign Up">
                <p class="mt-5 mb-3 text-muted">Already have an Account? <a class="close-modal" data-toggle="modal" href="#loginModal"> Sign In Now!</a></p>
                <label id="errormsg2" class="errmsg"></label>
            </form>
            </div>
        </div>
    </div>



    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/modals_change.js"></script>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <!-- Java Script
     ================================================== --> 
     <script src="/js/jquery-2.1.3.min.js"></script>
     <script src="/js/plugins.js"></script>
     <script src="/js/main.js"></script>

    <script>
    function copyToClipboard(id) {
    const string = id.innerHTML;
    //creating a dummy text area
    const dummyarea = document.createElement('textarea');
    dummyarea.value = string;
    dummyarea.setAttribute('readonly', '');
    dummyarea.style.position = 'absolute';
    dummyarea.style.left = '-9999px';
    document.body.appendChild(dummyarea);
    dummyarea.select();
    document.execCommand('copy');
    document.body.removeChild(dummyarea);
}
    </script>
</body>

</html>
